{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
            <h1 class="my-4">Blog Page!
            </h1>
            <div class="card mb-4">

                <div class="card-header">
                    <h3 class="text-center">Sign In</h3>

                </div>
                <div class="card-body">
                    <form method = "post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
